:root {
    --roxo-destaque: #9747FF;
    --roxo-hover: #8233E8;
    --offwhite: #F5F5F5;
    --grafite: #232323;
    --fundo-dark: #0E1014;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--fundo-dark);
    color: #fff;
}

header img {
    display: block;
    margin: 75px 0 0 360px;
}

h1 {
    font-size: 64px;
    font-family: "Unbounded", sans-serif;
    font-weight: bold;
    margin-top: 60px;
    text-align: center;
}

h1 span {
    color: var(--roxo-destaque)
}

p {
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    display: block;
    margin: 24px auto 0;
    width: 792px;
}

a {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    text-decoration: none;
    background-color: var(--roxo-destaque);
    width: 340px;
    height: 66px;
    display: block;
    text-align: center;
    line-height: 66px;
    border-radius: 36px;
    margin: 40px auto;
}

a:hover {
    background-color: var(--roxo-hover);
}

section img {
    display: block;
    width: 792px;
    height: 446px;
    margin: 0 auto;
}

@media (max-width: 768px) {

    header img {
        margin: 65px 0 0 60px;
    }

    p {
        width: 648px;
    }

}

@media (max-width: 480px) {

    header img {
        margin: 32px 0 0 16px;
    }

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 20px;
        width: 340px;
    }

    a {
        font-size: 20px;
        width: 251px;
    }

    section img {
        width: 340px;
        height: 230px;
    }
}